Interage/IntegracaoSascar/IntegracaoSascar/IntegracaoSascar/Service References/ws_sascar/SasIntegraWSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://webservice.web.integracao.sascar.com.br/" targetNamespace="http://webservice.web.integracao.sascar.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="obterMacroTd50TmcdResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:macroTd50Tmcd" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMascaraDispositivosResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:mascaraDispositivo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterPacotePosicoes">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="quantidade" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="telemetria">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="embreagem" type="xsd:int" />
      <xsd:element minOccurs="0" name="estadoLimpadorParabrisa" type="xsd:int" />
      <xsd:element minOccurs="0" name="freio" type="xsd:int" />
      <xsd:element minOccurs="0" name="motorFuncionando" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="motorista">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="celular" type="xsd:string" />
      <xsd:element minOccurs="0" name="dataContratacao" type="xsd:anySimpleType" />
      <xsd:element minOccurs="0" name="generico" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="idMotorista" type="xsd:int" />
      <xsd:element minOccurs="0" name="login" type="xsd:string" />
      <xsd:element minOccurs="0" name="nome" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroDocumento" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="telefone" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoCNH" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoDocumento" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoMotorista" type="xsd:string" />
      <xsd:element minOccurs="0" name="vencimentoCNH" type="xsd:anySimpleType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterStatusComandoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:statusComando" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMotoristasVeiculosResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:motoristaVeiculo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eventoSequenciamento">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idEvento" type="xsd:int" />
      <xsd:element minOccurs="0" name="tempo" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterEnderecoPosicaoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:enderecoPosicao" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="layoutGrupoPontos">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idLayoutGrupoPonto" type="xsd:int" />
      <xsd:element minOccurs="0" name="nome" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterLayoutTecladoVeiculos">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterPacotePosicoesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:pacotePosicao" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterVeiculos">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="quantidade" type="xsd:int" />
      <xsd:element minOccurs="0" name="idVeiculo" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterEnderecoPosicao">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="latitude" type="xsd:string" />
      <xsd:element minOccurs="0" name="longitude" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="macro">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="desricao" type="xsd:string" />
      <xsd:element minOccurs="0" name="idMacro" type="xsd:int" />
      <xsd:element minOccurs="0" name="layout" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="layoutAcaoEmbarcadaAVD">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idLayoutAcaoEmbarcadaAVD" type="xsd:int" />
      <xsd:element minOccurs="0" name="nome" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterPacotePosicaoPorRangeResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:pacotePosicao" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterLayoutTecladoVeiculosResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:layoutTecladoVeiculos" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMacroTd50TmcdDetalhado">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoTeclado" type="ns0:tipoTeclado" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterVeiculosResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:veiculo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterPontosReferencia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterClientesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:cliente" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="layoutTecladoVeiculos">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idLayout" type="xsd:int" />
      <xsd:element minOccurs="0" name="idVeiculo" type="xsd:int" />
      <xsd:element minOccurs="0" name="tipoLayout" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMotoristasVeiculos">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="quantidade" type="xsd:int" />
      <xsd:element minOccurs="0" name="idMotoristaVeiculo" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="sasIntegraFaultBean">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="enderecoPosicao">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="address" type="ns0:endereco" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="atualizarSenha">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senhaAtual" type="xsd:string" />
      <xsd:element minOccurs="0" name="novaSenha" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterPontosReferenciaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:pontoReferencia" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="grupoAtuador">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="descricao" type="xsd:string" />
      <xsd:element minOccurs="0" name="idAtuador" type="xsd:int" />
      <xsd:element minOccurs="0" name="tipoPorta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pacotePosicao">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="anguloReferencia" type="xsd:int" />
      <xsd:element minOccurs="0" name="bloqueio" type="xsd:int" />
      <xsd:element minOccurs="0" name="cidade" type="xsd:string" />
      <xsd:element minOccurs="0" name="codigoMacro" type="xsd:int" />
      <xsd:element minOccurs="0" name="conteudoMensagem" type="xsd:string" />
      <xsd:element minOccurs="0" name="dataPacote" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="dataPosicao" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="direcao" type="xsd:int" />
      <xsd:element minOccurs="0" name="distanciaReferencia" type="xsd:int" />
      <xsd:element minOccurs="0" name="embreagem" type="xsd:int" />
      <xsd:element minOccurs="0" name="entrada1" type="xsd:int" />
      <xsd:element minOccurs="0" name="entrada2" type="xsd:int" />
      <xsd:element minOccurs="0" name="entrada3" type="xsd:int" />
      <xsd:element minOccurs="0" name="entrada4" type="xsd:int" />
      <xsd:element minOccurs="0" name="entrada5" type="xsd:int" />
      <xsd:element minOccurs="0" name="entrada6" type="xsd:int" />
      <xsd:element minOccurs="0" name="entrada7" type="xsd:int" />
      <xsd:element minOccurs="0" name="entrada8" type="xsd:int" />
      <xsd:element minOccurs="0" name="estadoLimpadorParabrisa" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="eventoSequenciamento" nillable="true" type="ns0:eventoSequenciamento" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="eventos" nillable="true" type="ns0:evento" />
      <xsd:element minOccurs="0" name="freio" type="xsd:int" />
      <xsd:element minOccurs="0" name="gps" type="xsd:int" />
      <xsd:element minOccurs="0" name="horimetro" type="xsd:int" />
      <xsd:element name="idPacote" type="xsd:long" />
      <xsd:element minOccurs="0" name="idReferencia" type="xsd:int" />
      <xsd:element minOccurs="0" name="idVeiculo" type="xsd:int" />
      <xsd:element minOccurs="0" name="ignicao" type="xsd:int" />
      <xsd:element minOccurs="0" name="integradoraId" type="xsd:int" />
      <xsd:element minOccurs="0" name="jamming" type="xsd:int" />
      <xsd:element minOccurs="0" name="latitude" type="xsd:double" />
      <xsd:element minOccurs="0" name="longitude" type="xsd:double" />
      <xsd:element minOccurs="0" name="memoria" type="xsd:int" />
      <xsd:element minOccurs="0" name="motorFuncionando" type="xsd:int" />
      <xsd:element minOccurs="0" name="nomeMensagem" type="xsd:string" />
      <xsd:element minOccurs="0" name="odometro" type="xsd:int" />
      <xsd:element minOccurs="0" name="pontoEntrada" type="xsd:int" />
      <xsd:element minOccurs="0" name="pontoReferencia" type="xsd:string" />
      <xsd:element minOccurs="0" name="pontoSaida" type="xsd:int" />
      <xsd:element minOccurs="0" name="rpm" type="xsd:int" />
      <xsd:element minOccurs="0" name="rua" type="xsd:string" />
      <xsd:element minOccurs="0" name="saida1" type="xsd:int" />
      <xsd:element minOccurs="0" name="saida2" type="xsd:int" />
      <xsd:element minOccurs="0" name="saida3" type="xsd:int" />
      <xsd:element minOccurs="0" name="saida4" type="xsd:int" />
      <xsd:element minOccurs="0" name="saida5" type="xsd:int" />
      <xsd:element minOccurs="0" name="saida6" type="xsd:int" />
      <xsd:element minOccurs="0" name="saida7" type="xsd:int" />
      <xsd:element minOccurs="0" name="saida8" type="xsd:int" />
      <xsd:element minOccurs="0" name="satelite" type="xsd:int" />
      <xsd:element minOccurs="0" name="temperatura1" type="xsd:int" />
      <xsd:element minOccurs="0" name="temperatura2" type="xsd:int" />
      <xsd:element minOccurs="0" name="temperatura3" type="xsd:int" />
      <xsd:element minOccurs="0" name="tensao" type="xsd:int" />
      <xsd:element minOccurs="0" name="textoMensagem" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoTeclado" type="xsd:int" />
      <xsd:element minOccurs="0" name="uf" type="xsd:string" />
      <xsd:element minOccurs="0" name="velocidade" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="mascaraDispositivo">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="atuadores" nillable="true" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMacroTms3Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:macroTms3" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="veiculo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="descricao" type="xsd:string" />
      <xsd:element minOccurs="0" name="idAtuador1" type="xsd:int" />
      <xsd:element minOccurs="0" name="idAtuador2" type="xsd:int" />
      <xsd:element minOccurs="0" name="idAtuador3" type="xsd:int" />
      <xsd:element minOccurs="0" name="idAtuador4" type="xsd:int" />
      <xsd:element minOccurs="0" name="idAtuador5" type="xsd:int" />
      <xsd:element minOccurs="0" name="idAtuador6" type="xsd:int" />
      <xsd:element minOccurs="0" name="idAtuador7" type="xsd:int" />
      <xsd:element minOccurs="0" name="idAtuador8" type="xsd:int" />
      <xsd:element minOccurs="0" name="idCliente" type="xsd:int" />
      <xsd:element minOccurs="0" name="idEquipamento" type="xsd:int" />
      <xsd:element minOccurs="0" name="idLayout" type="xsd:int" />
      <xsd:element minOccurs="0" name="idSensor1" type="xsd:int" />
      <xsd:element minOccurs="0" name="idSensor2" type="xsd:int" />
      <xsd:element minOccurs="0" name="idSensor3" type="xsd:int" />
      <xsd:element minOccurs="0" name="idSensor4" type="xsd:int" />
      <xsd:element minOccurs="0" name="idSensor5" type="xsd:int" />
      <xsd:element minOccurs="0" name="idSensor6" type="xsd:int" />
      <xsd:element minOccurs="0" name="idSensor7" type="xsd:int" />
      <xsd:element minOccurs="0" name="idSensor8" type="xsd:int" />
      <xsd:element minOccurs="0" name="idSerial0" type="xsd:int" />
      <xsd:element minOccurs="0" name="idSerial1" type="xsd:int" />
      <xsd:element minOccurs="0" name="idVeiculo" type="xsd:int" />
      <xsd:element minOccurs="0" name="placa" type="xsd:string" />
      <xsd:element minOccurs="0" name="portaBloqueio" type="xsd:int" />
      <xsd:element minOccurs="0" name="portaPanico" type="xsd:int" />
      <xsd:element name="satelital" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterTipoComando">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterGrupoAtuadores">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterLayout">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="layout" type="ns0:tipoLayout" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterLayoutResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:layout" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMacroTd50TmcdDetalhadoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:macroTd50TmcdDetalhado" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cliente">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cnpj" type="xsd:long" />
      <xsd:element minOccurs="0" name="cpf" type="xsd:long" />
      <xsd:element minOccurs="0" name="idCliente" type="xsd:int" />
      <xsd:element minOccurs="0" name="nome" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMensagemPortalResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:mensagem" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterClientes">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="quantidade" type="xsd:int" />
      <xsd:element minOccurs="0" name="idCliente" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterLayoutGrupoPontos">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tipoComando">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="descricao" type="xsd:string" />
      <xsd:element minOccurs="0" name="idTipoComando" type="xsd:int" />
      <xsd:element minOccurs="0" name="nome" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMascaraDispositivos">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="idVeiculo" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterGrupoAtuadoresResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:grupoAtuador" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterPacotePosicaoHistorico">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="dataInicio" type="xsd:string" />
      <xsd:element minOccurs="0" name="dataFinal" type="xsd:string" />
      <xsd:element minOccurs="0" name="idVeiculo" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMacroTms3">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterTelemetriaPortal">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="idVeiculo" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="verificarVeiculoIntegradoResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterLayoutDetalhado">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="layout" type="ns0:tipoLayout" />
      <xsd:element minOccurs="0" name="idLayout" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMotoristas">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="quantidade" type="xsd:int" />
      <xsd:element minOccurs="0" name="idMotorista" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="macroTms3">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMacroTms3" type="xsd:int" />
      <xsd:element minOccurs="0" name="idVeiculo" type="xsd:int" />
      <xsd:element minOccurs="0" name="layout" type="xsd:string" />
      <xsd:element minOccurs="0" name="nome" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterTipoComandoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:tipoComando" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="evento">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterTelemetriaPortalResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:telemetria" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="layoutDetalhado">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="descricao" type="xsd:string" />
      <xsd:element minOccurs="0" name="idLayout" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="macros" nillable="true" type="ns0:macro" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pontoReferencia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:int" />
      <xsd:element minOccurs="0" name="data" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="descricao" type="xsd:string" />
      <xsd:element minOccurs="0" name="endereco" type="xsd:string" />
      <xsd:element minOccurs="0" name="idPontoReferencia" type="xsd:int" />
      <xsd:element minOccurs="0" name="latitudeI" type="xsd:double" />
      <xsd:element minOccurs="0" name="latitudeS" type="xsd:double" />
      <xsd:element minOccurs="0" name="longitudeI" type="xsd:double" />
      <xsd:element minOccurs="0" name="longitudeS" type="xsd:double" />
      <xsd:element minOccurs="0" name="nome" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="motoristaVeiculo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMotorista" type="xsd:int" />
      <xsd:element minOccurs="0" name="idMotoristaVeiculo" type="xsd:long" />
      <xsd:element minOccurs="0" name="idVeiculo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterStatusComando">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="ticket" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterSequenciamentoEvento">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterSequenciamentoEventoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:sequenciamentoEvento" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMacroTd40">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element name="satelital" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="layout">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:int" />
      <xsd:element minOccurs="0" name="descricao" type="xsd:string" />
      <xsd:element minOccurs="0" name="idLayout" type="xsd:int" />
      <xsd:element name="tipoTeclado" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterPacoteLocalizacao">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="quantidade" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMacroTd40Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:macroTd40" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterPacotePosicaoHistoricoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:pacotePosicao" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="macroTd50Tmcd">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMacroTd50Tmcd" type="xsd:int" />
      <xsd:element minOccurs="0" name="idVeiculo" type="xsd:int" />
      <xsd:element minOccurs="0" name="layout" type="xsd:string" />
      <xsd:element minOccurs="0" name="layoutDetalhado" type="xsd:string" />
      <xsd:element minOccurs="0" name="nome" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMacroTd50Tmcd">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoTeclado" type="ns0:tipoTeclado" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="verificarVeiculoIntegrado">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="idVeiculo" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMensagemPortal">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="idVeiculo" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="atualizarSenhaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterLayoutAcaoEmbarcadaAVD">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pacoteLocalizacao">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dataPacote" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="direcao" type="xsd:int" />
      <xsd:element minOccurs="0" name="gps" type="xsd:int" />
      <xsd:element minOccurs="0" name="idVeiculo" type="xsd:int" />
      <xsd:element minOccurs="0" name="ignicao" type="xsd:int" />
      <xsd:element minOccurs="0" name="latitude" type="xsd:double" />
      <xsd:element minOccurs="0" name="longitude" type="xsd:double" />
      <xsd:element minOccurs="0" name="velocidade" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="statusComando">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dataExec" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="idStatusComando" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="macroTd40">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMacroTd40" type="xsd:int" />
      <xsd:element minOccurs="0" name="idVeiculo" type="xsd:int" />
      <xsd:element minOccurs="0" name="mensagem" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoMensagem" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="mensagem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="mensagem" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="sequenciamentoEvento">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="atuador" type="xsd:int" />
      <xsd:element minOccurs="0" name="descricao" type="xsd:string" />
      <xsd:element minOccurs="0" name="idSequenciamentoEvento" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterPacoteLocalizacaoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:pacoteLocalizacao" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cidade">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="state" type="xsd:string" />
      <xsd:element minOccurs="0" name="name" type="xsd:string" />
      <xsd:element minOccurs="0" name="country" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterPacotePosicaoPorRange">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="usuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="senha" type="xsd:string" />
      <xsd:element minOccurs="0" name="idInicio" type="xsd:int" />
      <xsd:element minOccurs="0" name="idFinal" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterLayoutAcaoEmbarcadaAVDResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:layoutAcaoEmbarcadaAVD" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterLayoutGrupoPontosResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:layoutGrupoPontos" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterMotoristasResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:motorista" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="endereco">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="city" type="ns0:cidade" />
      <xsd:element minOccurs="0" name="street" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="macroTd50TmcdDetalhado">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMacroTd50Tmcd" type="xsd:int" />
      <xsd:element minOccurs="0" name="idTmcd" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="listaLayout" nillable="true" type="ns0:layoutDetalhado" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="listaVeiculos" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="nome" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="obterLayoutDetalhadoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:layoutDetalhado" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="obterMacroTd50TmcdResponse" type="ns0:obterMacroTd50TmcdResponse" />
  <xsd:element name="obterMascaraDispositivosResponse" type="ns0:obterMascaraDispositivosResponse" />
  <xsd:element name="obterPacotePosicoes" type="ns0:obterPacotePosicoes" />
  <xsd:element name="obterStatusComandoResponse" type="ns0:obterStatusComandoResponse" />
  <xsd:element name="obterMotoristasVeiculosResponse" type="ns0:obterMotoristasVeiculosResponse" />
  <xsd:element name="obterEnderecoPosicaoResponse" type="ns0:obterEnderecoPosicaoResponse" />
  <xsd:element name="obterLayoutTecladoVeiculos" type="ns0:obterLayoutTecladoVeiculos" />
  <xsd:element name="obterPacotePosicoesResponse" type="ns0:obterPacotePosicoesResponse" />
  <xsd:element name="city" type="ns0:cidade" />
  <xsd:element name="obterVeiculos" type="ns0:obterVeiculos" />
  <xsd:element name="obterEnderecoPosicao" type="ns0:obterEnderecoPosicao" />
  <xsd:element name="obterPacotePosicaoPorRangeResponse" type="ns0:obterPacotePosicaoPorRangeResponse" />
  <xsd:element name="obterLayoutTecladoVeiculosResponse" type="ns0:obterLayoutTecladoVeiculosResponse" />
  <xsd:element name="obterMacroTd50TmcdDetalhado" type="ns0:obterMacroTd50TmcdDetalhado" />
  <xsd:element name="obterVeiculosResponse" type="ns0:obterVeiculosResponse" />
  <xsd:element name="obterPontosReferencia" type="ns0:obterPontosReferencia" />
  <xsd:element name="obterClientesResponse" type="ns0:obterClientesResponse" />
  <xsd:element name="obterMotoristasVeiculos" type="ns0:obterMotoristasVeiculos" />
  <xsd:element name="atualizarSenha" type="ns0:atualizarSenha" />
  <xsd:element name="obterPontosReferenciaResponse" type="ns0:obterPontosReferenciaResponse" />
  <xsd:element name="obterMacroTms3Response" type="ns0:obterMacroTms3Response" />
  <xsd:element name="obterTipoComando" type="ns0:obterTipoComando" />
  <xsd:element name="obterGrupoAtuadores" type="ns0:obterGrupoAtuadores" />
  <xsd:element name="obterLayout" type="ns0:obterLayout" />
  <xsd:element name="obterLayoutResponse" type="ns0:obterLayoutResponse" />
  <xsd:element name="obterMacroTd50TmcdDetalhadoResponse" type="ns0:obterMacroTd50TmcdDetalhadoResponse" />
  <xsd:element name="obterMensagemPortalResponse" type="ns0:obterMensagemPortalResponse" />
  <xsd:element name="obterClientes" type="ns0:obterClientes" />
  <xsd:element name="AddressLocation" type="ns0:enderecoPosicao" />
  <xsd:element name="obterLayoutGrupoPontos" type="ns0:obterLayoutGrupoPontos" />
  <xsd:element name="obterMascaraDispositivos" type="ns0:obterMascaraDispositivos" />
  <xsd:element name="obterGrupoAtuadoresResponse" type="ns0:obterGrupoAtuadoresResponse" />
  <xsd:element name="obterPacotePosicaoHistorico" type="ns0:obterPacotePosicaoHistorico" />
  <xsd:element name="obterMacroTms3" type="ns0:obterMacroTms3" />
  <xsd:element name="obterTelemetriaPortal" type="ns0:obterTelemetriaPortal" />
  <xsd:element name="verificarVeiculoIntegradoResponse" type="ns0:verificarVeiculoIntegradoResponse" />
  <xsd:element name="obterLayoutDetalhado" type="ns0:obterLayoutDetalhado" />
  <xsd:element name="obterMotoristas" type="ns0:obterMotoristas" />
  <xsd:element name="obterTipoComandoResponse" type="ns0:obterTipoComandoResponse" />
  <xsd:element name="obterTelemetriaPortalResponse" type="ns0:obterTelemetriaPortalResponse" />
  <xsd:element name="SasIntegraFault" type="ns0:sasIntegraFaultBean" />
  <xsd:element name="obterStatusComando" type="ns0:obterStatusComando" />
  <xsd:element name="obterSequenciamentoEvento" type="ns0:obterSequenciamentoEvento" />
  <xsd:element name="obterSequenciamentoEventoResponse" type="ns0:obterSequenciamentoEventoResponse" />
  <xsd:element name="obterMacroTd40" type="ns0:obterMacroTd40" />
  <xsd:element name="obterPacoteLocalizacao" type="ns0:obterPacoteLocalizacao" />
  <xsd:element name="obterMacroTd40Response" type="ns0:obterMacroTd40Response" />
  <xsd:element name="obterPacotePosicaoHistoricoResponse" type="ns0:obterPacotePosicaoHistoricoResponse" />
  <xsd:element name="obterMacroTd50Tmcd" type="ns0:obterMacroTd50Tmcd" />
  <xsd:element name="verificarVeiculoIntegrado" type="ns0:verificarVeiculoIntegrado" />
  <xsd:element name="obterMensagemPortal" type="ns0:obterMensagemPortal" />
  <xsd:element name="atualizarSenhaResponse" type="ns0:atualizarSenhaResponse" />
  <xsd:element name="obterLayoutAcaoEmbarcadaAVD" type="ns0:obterLayoutAcaoEmbarcadaAVD" />
  <xsd:element name="obterPacoteLocalizacaoResponse" type="ns0:obterPacoteLocalizacaoResponse" />
  <xsd:element name="obterPacotePosicaoPorRange" type="ns0:obterPacotePosicaoPorRange" />
  <xsd:element name="obterLayoutAcaoEmbarcadaAVDResponse" type="ns0:obterLayoutAcaoEmbarcadaAVDResponse" />
  <xsd:element name="address" type="ns0:endereco" />
  <xsd:element name="obterLayoutGrupoPontosResponse" type="ns0:obterLayoutGrupoPontosResponse" />
  <xsd:element name="obterMotoristasResponse" type="ns0:obterMotoristasResponse" />
  <xsd:element name="obterLayoutDetalhadoResponse" type="ns0:obterLayoutDetalhadoResponse" />
  <xsd:simpleType name="tipoLayout">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LAYOUT_TD40" />
      <xsd:enumeration value="LAYOUT_TD50" />
      <xsd:enumeration value="LAYOUT_TMCD" />
      <xsd:enumeration value="LAYOUT_SEQUENCIAMENTO_TD50" />
      <xsd:enumeration value="LAYOUT_TMS3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tipoTeclado">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TECLADO_TMCD" />
      <xsd:enumeration value="TECLADO_TD50" />
      <xsd:enumeration value="TECLADO_TMS3" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>